/* Layout */

.docly-main {
    background-color: var(--docly-color-primary);
    color: var(--docly-color-text);
}

.docly-main__content {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 64px;
    width: 1180px;
    margin: 0 auto;
}

.docly-nav {
    flex-basis: 320px;
    flex-shrink: 0;
    flex-grow: 0;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    left: 0;
    overflow-y: auto;
    padding: 32px 24px 16px 24px;
    box-sizing: border-box;
}

.docly-header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--docly-color-primary);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    padding: 8px 0;
    margin-bottom: 0;
    z-index: 55;
    color: var(--docly-color-text);
}

.docly-header__content {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    max-width: 1180px;
    margin: 0 auto;
}

:root {
    --color-primary: #121212;
}

body {
    color: white;
}

.doc-header {
    
    gap: 20px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 40px;
}

.doc-header__content {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.doc-heading {
    font-size: 1rem;
}

.doc-nav {
    flex-basis: 200px;
    min-width: 180px;
    flex-grow: 0;
    height: 400px;
    overflow-y: auto;
}

.doc-link-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 0 0 0;
    padding: 0 0 0 20px;
}

.docly-link:hover {
    color: var(--docly-color-accent);
}

.docly-link--active {
    color: var(--docly-color-accent);
}

#doc-content {
    flex-grow: 1;
    padding: 32px 0 16px 0;
}



#doc-content-heading {
    color: var(--docly-color-accent);
}

#doc-content-title {
    font-size: 1.5rem;
    margin: 8px 0;
}

.docly-headings {
    display: flex;
    gap: 24px;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.docly-links {
    display: flex;
    gap: 16px;
    flex-direction: column;
    padding: 16px 0 16px 32px;
}

.docly-link {
    transition: color 400ms;
}

.docly-link__a {
    display: block;
    font-size: 0.9rem;
}



.docly-heading__title {
    font-size: 0.9rem;
    font-weight: 500;
}

/* Table of contents. */

.doc-toc {
    flex-basis: 20%;
    min-width: 180px;
    flex-shrink: 0;
    flex-grow: 0;
    padding: 32px 0 16px 0;
    box-sizing: border-box;
    display: none; /* Will be switch to block by TOC generator script if TOC items available. */
    overflow-y: auto;
    position: sticky;
    right: 0;
    top: 5rem;
}

.doc-toc li {
    list-style: none;
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;
}

.doc-toc__heading {
    font-size: 0.925rem;
    font-weight: 500;
    margin: 0 0 8px 0;
}

.doc-toc__list {
    padding: 8px 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.doc-toc__item .doc-toc__list {
    margin-left: 16px;
}

.doc-toc__item {
    font-size: 0.875rem;
    font-weight: 500;
}

.docly-logo__icon {
    width: 60px;
    height: auto;
}

.docly-search-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background: var(--docly-color-primary);
    color: var(--docly-color-offset);
    border-radius: 8px;
    padding: 8px 16px 8px 8px;
    box-shadow: none;
    min-width: 320px;
    display: flex;
    justify-content: space-between;
    border: solid 1px var(--docly-color-offset);
    transition: border-color 400ms;
}

.docly-search-button:hover {
    border-color: var(--docly-color-accent);
}

.docly-search-button__left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.docly-search-button__key {
    font-size: 0.875rem;
}

.docly-search-button__icon {

}

.docly-search-button__text {
    line-height: 1rem;
}

.docly-search-button__icon-svg {
    width: 24px;
    height: auto;
    fill: var(--docly-color-accent);
}

.docly-search__input {
    border-radius: 8px;
    padding: 16px 24px 16px 40px;
    border: none;
    font-size: 1.25rem;
    background-color: white;
    color: var(--docly-color-offset);
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 400px;
    line-height: 1rem;
}

.docly-search {
    position: relative;
}

.docly-search__icon {
    position: absolute;
    top: calc(50% - 12px);
    left: 8px;
    width: 24px;
    height: auto;
    fill: var(--docly-color-accent);
}

.docly-modal {
    position: fixed;
    inset: 0;
    z-index: 60;
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: rgb(0 0 0 / 0.25);
    backdrop-filter: blur(4px);
}

.docly-modal__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 420px;
    overflow-y: auto;
    margin-top: 20vh;
}

.docly-button__icon {
    fill: var(--docly-color-accent);
}

/* Admin bar handling */
body.admin-bar .docly-header {
    top: var(--wp-admin--admin-bar--height);
}

body.admin-bar .docly-nav {
    top: calc(5rem + var(--wp-admin--admin-bar--height));
}

body.admin-bar .doc-toc {
    top: calc(5rem + var(--wp-admin--admin-bar--height));
}

/*
 * Scrollbars.
 */

/* For WebKit browsers (Chrome, Safari, Edge) */
.docly-main ::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

.docly-main ::-webkit-scrollbar-track {
    background: var(--docly-color-primary); /* Track color */
    border-radius: 8px; /* Rounded corners */
}

.docly-main ::-webkit-scrollbar-thumb {
    background-color: var(--docly-color-offset);
    border-radius: 8px;
    border: solid 2px white;
}

.docly-main ::-webkit-scrollbar-thumb:hover {
    background-color: var(--docly-color-accent);
}

.docly-header__center {
    display: flex;
    align-items: center;
    gap: 8px;
}

.docly-responsive-nav-button {
    display: none;
}

.docly-responsive-nav-button__icon {
    width: 32px;
    height: auto;
}


/* Responsive */

@media (max-width: 1400px) {

    body {
        background-color: red;
    }

    .docly-main__content {
        width: 100%;
        flex-direction: column;
        overflow: hidden;
        padding-left: 8px;
        padding-right: 8px;
        box-sizing: border-box;
    }

    .doc-toc {
        display: none;
    }

    .docly-nav {
        flex-basis: 100%;
        display: none;
        position: fixed;
        inset: 0;
        background-color: var(--docly-color-primary);
    }

    .docly-search-button {
        min-width: auto;
        border: none;
    }

    .docly-search-button__key,
    .docly-search-button__text {
        display: none;
    }

    .docly-header {
        padding-left: 8px;
        padding-right: 8px;
        box-sizing: border-box;
    }

    .docly-responsive-nav-button {
        display: block;
    }

    .docly-search {
        width: 100%;
        padding-left: 8px;
        padding-right: 8px;
        box-sizing: border-box;
    }

    .docly-search__icon {
        left: 16px;
    }

    .docly-search__input {
        width: 100%;
        min-width: auto;
    }

}